@import "src/assets/styles/variables";

.Intro {
	max-width: 550px;
	margin: 0 auto;
	padding: 125px 0 50px;

	text-align: center;
}

.intro {
	font-size: 1.15em;
	text-transform: uppercase;
}

.content {
	margin: 25px 0;
}
