@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

$color-primary: #11111A;
$color-secondary: #E0E2EF;
$color-tertiary: #00BEA0;

$font-family-base: 'Courier New', monospace;
$font-family-highlight: 'PT Mono', monospace;

$font-size-base: 14px;

$bp-sm: 768px;
$bp-lg: 1024px;
$bp-xl: 1440px;

$logo-size: 95px;
$icon-size: 16px;

$layout-padding: 15px;

$btn-padding-x: 15px;
$btn-padding-y: $btn-padding-x/2;

$header-bg-color: $color-primary;
